@model SistemaVentaPrestamo.Models.Devolucion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Devolucion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prestamo.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prestamo.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idDevolucion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
