<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Linea Nº14", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("R1"))
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Administrador
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Personal", "Index", "Personal")</li>
                                    <li>@Html.ActionLink("Asignar Roles", "Index", "RolesPersonal")</li>
                                    <li>@Html.ActionLink("Interno", "Index", "Interno")</li>
                                    <li>@Html.ActionLink("Derecho Linea", "Index", "DerechoLinea")</li>
                                    <li>@Html.ActionLink("Choferes", "Index", "ChoferDerLin")</li>
                                </ul>
                            </li>                           
                        }
                        if (User.IsInRole("R1") || User.IsInRole("R2"))
                        {                         
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Encargado Almacen
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Solicitud Prestamo", "NuevoPedido", "Pedidos")</li>
                                    <li>@Html.ActionLink("Prestamos", "Index", "Prestamos")</li>
                                    <li>@Html.ActionLink("Detalles Prestamos", "Index", "DetallePrestamo")</li>
                                    <li>@Html.ActionLink("Devolucion", "Index", "Devolucion")</li>
                                    <li>@Html.ActionLink("Repuestos", "Index", "Repuesto")</li>
                                    <li>@Html.ActionLink("TipoRepuesto", "Index", "TipoRepuesto")</li>
                                </ul>
                            </li>
                        }
                        if (User.IsInRole("R1") || User.IsInRole("R3"))
                        {
                            <li>@Html.ActionLink("Venta", "Index", "Venta")</li>
                        }
                        if (User.IsInRole("R1") || User.IsInRole("R4") || User.IsInRole("R3") || User.IsInRole("R2"))
                        {
                            <li>@Html.ActionLink("Reportes", "Index", "Report")</li>
                        }
                        <li><a href="#">Bienvenido Usuario: @User.Identity.Name</a></li>
                        <li>@Html.ActionLink("Logout", "Logout", "Login")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Login", "Index", "Login")</li>
                    }

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; UTEPSA - Defensa Externa - Ing. Sistemas - Jose Solano Romero</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
