@model IEnumerable<SistemaVentaPrestamo.Models.DetalleVenta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Repuesto.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Venta.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Repuesto.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Venta.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idDetVen }) |
            @Html.ActionLink("Details", "Details", new { id=item.idDetVen }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idDetVen })
        </td>
    </tr>
}

</table>
